<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <style>
        h1{
            text-align: center;
            margin: 20px;
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <section class="hero is-link" style="text-align: center;">
        <div class="hero-body">
            <p class="title">COMENTÁRIOS</p>
            <p class="subtitle">Fofocas!!</p>
        </div>
    </section>
    <section class="section">
        <form action="">
            <input type="text" class="input">
            <button type="submit" class="button">Enviar</button>
        </form>
    </section>
    <section class="section">
        <div class="box">
            <span>MENSAGENS</span>
        </div>
    </section>
</body>
</html>